form.message-input
	!= messageField
	button.message-input__button(type='submit', disabled=disabled ? true : false)
		svg.message-input__button-icon(
			width='34',
			height='34',
			viewBox='0 0 34 34',
			fill='none',
			xmlns='http://www.w3.org/2000/svg'
		)
			g(clip-path='url(#clip0_16_1435)')
				path(
					d='M29.6249 16.9995C29.6249 16.0053 29.1165 15.1066 28.263 14.5954L16.6728 7.64094C15.1278 6.71393 13.2398 6.95296 11.9748 8.23636C10.7098 9.51976 10.497 11.4098 11.4452 12.9421L13.9576 17.0002L11.4452 21.0583C10.497 22.5906 10.7098 24.4807 11.9748 25.7641C11.9819 25.7711 11.9883 25.7775 11.9953 25.7846C13.2604 27.0496 15.1363 27.2808 16.6729 26.3595L28.263 19.4051C29.1165 18.8924 29.6249 17.9937 29.6249 16.9995ZM27.4923 18.1167L15.9021 25.0711C14.7418 25.7662 13.6485 25.2938 13.0433 24.7098C12.45 24.108 12.0095 22.9972 12.7215 21.8467L15.2572 17.7497L21.2422 17.7498C21.6566 17.7498 21.9925 17.4139 21.9925 16.9995C21.9925 16.5851 21.6566 16.2492 21.2422 16.2492L15.2572 16.2493L12.7215 12.1523C12.0095 11.0018 12.45 9.89091 13.0433 9.28916C13.6373 8.68671 14.7418 8.23134 15.9021 8.92784L27.4916 15.8816C27.5863 15.9381 27.6719 16.0053 27.7468 16.0802C27.9873 16.3206 28.1244 16.6474 28.1251 16.9988C28.1251 17.4613 27.8883 17.8791 27.4923 18.1167Z',
					fill='white'
				)
